<div class="" style="margin-top: 100px;">
  <!-- <h1>This is the Bathrooms index page</h1> -->
  <div class="bathroom-cards d-flex flex-column justify-content-around align-items-center">
    <% @bathrooms.each do |bathroom| %>
        <div class="card card-container d-flex flex-row m-3 border" style="width: 50%;">
          <div class="left-card">
          <div class="img-container">
            <%= cl_image_tag bathroom.photos.first.key, height: 200, width: 300, crop: :fill %>
          </div>
            <div class="price-container">
              <div class="price-text"><b>£ <%= bathroom.price%></b><em class="per-hour"> per hour</em></div>
            </div>
          </div>
          <div class="right-card d-flex flex-column">
            <div class="text-container">
              <div class="title-text">
                <h4 class="card-title"><%= bathroom.title %></h4>
              </div>
              <div class="content-text">
                <p class="card-text text-secondary" id="address"><%= bathroom.address %></p>
                <p class="card-text text-secondary">"<%= bathroom.description %>"</p>
              </div>
            </div>
            <div class="d-flex text-muted">
              <div id="rating">
                <% total = 0.0 %>
                <% average = 0.0 %>
                <% bathroom.reviews.each do |review|%>
                  <% total += review.rating %>
                <% end %>
                <% average = total / bathroom.reviews.count %>
                <%  if bathroom.reviews.count != 0 %>
                  <i class="fas fa-star" style="color: #FF7E67; padding-bottom: 12px;"></i>
                  <span style="font-weight: bold; font-size: 14px;"><%= average.round(1)  %></span>
                <% else %>
                  <i class="fas fa-star" style="color: grey; padding-bottom: 12px;"></i>
                  <span style="font-weight: bold; font-size: 14px;">0</span>
                <% end %>
                <span style="color: grey; font-size: 14px;">(<%= bathroom.reviews.count %> reviews)</span>
              </div>
              <div class="button-container d-flex">
                <div class=""><%= link_to "View Bathroom", bathroom_path(bathroom.id), class: "btn btn-orange"%></div>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>


