<h1>This is the Bathrooms index page</h1>
<ul>
  <% @bathrooms.each do |bathroom| %>
    <li><%= bathroom.title %></li>
    <li><%= bathroom.address %></li>
    <li><%= bathroom.description %></li>
    <li><%= bathroom.price %></li>
    <%= link_to "poo here", new_bathroom_booking_path(bathroom.id) %>
  <% end %>
</ul>
