
<div style="display: flex; justify-content: space-between;">
  <div class="bathroom-show-container">
    <%= link_to "Back", bathrooms_path, class: "back" %>
    <div>
      <h3 style="padding-bottom: 12px; padding-top: 12px"><strong><%= @bathroom.title %></strong></h3>
      <div class="bathroom-show">
        <div class="image">
          <%= cl_image_tag @bathroom.photos.first.key, height: 400, width: 700, crop: :fill %>
        </div>
        <div class="card-body">
          <h4>Visit <strong><%= @bathroom.user.name %>'s</strong> bathroom</h4>
          <hr>
          <p style="font-size: 14px; color: grey"><%= @bathroom.address %></p>
          <p style="font-style: italic; text-align: justify;">"<%= @bathroom.description %>"</p>
        </div>
        <div class="price_book">
          <p> <strong>£ <%= @bathroom.price %> per hour</strong></p>
        </div>
      </div>
    </div>
    <div>
      <% @reviews.each do |review|%>
        <div class="review-card">
          <div>
            <h3> <%= review.user.name %> </h3>
            <p><%= review.rating %></p>
          </div>
          <p><%= review.comment %></p>
        </div>
      <% end %>
  </div>
  </div>
  <div class="container h1 i booking_form fixed-top" style="margin-top: 100px; height: 500px; width: 550px; margin-right: 24px; border-radius: 8px">
    <h2 class="title" style="border-radius: 8px 8px 0px 0px;">Complete your booking details below:</h2>
      <div class= "p-4"><%= simple_form_for [@bathroom, @booking], html:{data: {price:@bathroom.price}} do |f| %>
        <%= f.input :start_time, html5: true %>
        <%= f.input :end_time, html5: true %>
        <%= f.input :booking_price, label: "Booking Price £", placeholder: "£", readonly: true %>
        <%= f.button :submit, class: "button-primary" %>
        <% end %>
      </div>
  </div>
</div>
