 <div class="bathroom-show-container">
  <div>
    <h1 style="margin-top:100px ">My Bookings</h1>
    <% @bookings.each do |booking| %>
      <h4><%= booking.bathroom.title %></h4>
      <p><%= booking.bathroom.user.name %></p>
      <p>£<%= booking.booking_price %></p>
      <p><%= booking.status %></p>
      <%= link_to "Update", bookings_path(@booking) %>
      <%= link_to "Delete", bookings_path(@booking) %>
    <% end %>
  </div>
  <hr>
  <div>
    <h1 style="margin-top:50px ">My Bathrooms</h1>
    <% @bathrooms.each do |bathroom| %>
      <h4><%=bathroom.title %></h4>
      <p><%= bathroom.user.name %></p>
    <% end %>
  </div>
</div>
