 <div class="bathroom-show-container">
  <div>
    <h1 style="margin-top:50px ">Bookings made on my toilets by other people</h1>
    <% current_user.bathrooms.each do |bathroom| %>
      <% bathroom.bookings.each do |booking| %>
        <h4><%= booking.bathroom.title %></h4>
        <% if !booking.confirmed %>
          <%= link_to "Confirm this booking", booking_path(booking), method: 'PATCH' %>
       <% else %>
       <p>Booking confirmed</p>
       <% end %>
      <% end %>
    <% end %>
  </div>
  <div>
    <h1 style="margin-top:100px ">My Bookings</h1>
    <% @bookings.each do |booking| %>
      <h4><%= booking.bathroom.title %></h4>
      <p><%= booking.bathroom.user.name %></p>
      <p>£<%= booking.booking_price %></p>
      <p><%= booking.confirmed ? "Confirmed, you egg" : "Pending" %></p>
      <%= link_to "Update", bookings_path(@booking) %>
      <%= link_to "Delete", bookings_path(@booking) %>
    <% end %>
  </div>
  <hr>
  <div>
    <h1 style="margin-top:50px ">My Bathrooms</h1>
    <% @bathrooms.each do |bathroom| %>
      <h4><%=bathroom.title %></h4>
      <p><%= bathroom.user.name %></p>
    <% end %>
  </div>
  <hr>
</div>
