<!DOCTYPE html>
<html>
  <head>
    <title>Airpnp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>
  <body>
    <div class="navbar-lewagon fixed-top" style="display: flex">
      <div id="logo" style="display:flex">
      <i class="fas fa-toilet"></i>
      <%= link_to 'AirPnp', root_path, class: "logo_text" %>
     </div>
     <div>
     <form class="form-inline">
        <input class="form-control shadow-none" type="search" placeholder="Search">
        <button class="btn btn-outline-light" type="submit"> <i class="fas fa-toilet-paper"></i></button>
      </form>
     </div>
      <div id="sign-up" style="display:flex">
        <% if current_user %>
          <p class="login">
            Hello, <%= current_user.email %>
          </p>
        <% else %>
          <%= link_to 'Sign up', new_user_registration_path, class: "login" %>
          <%= link_to 'Login', new_user_session_path, class: "login" %>
        <% end %>
      </div>
    </div>
    <!-- <p class="notice"><%= notice %></p>
"alert"><%= alert %></p> -->
    <%= yield %>
  </body>
</html>
