<!DOCTYPE html>
<html>
  <head>
    <title>Borrow my Bathroom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>
  <body>
    <nav class="navbar-lewagon fixed-top" style="display: flex">
      <div id="logo" style="display:flex">
      <i class="fas fa-toilet"></i>
      <%= link_to 'Borrow my Bathroom', root_path, class: "logo_text" %>
      </div>
      <div class="form-inline">
        <%= form_tag bathrooms_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a bathroom" %>
            <%= button_tag type: 'submit' , class: "btn btn-outline-light" do %>
              <i class="fas fa-toilet-paper"></i>
            <% end %>
        <% end %>
      </div>

      <div id="sign-up" style="display:flex">
        <% if current_user %>
          <p class="login">
            Hello ,  <%= current_user.name %>
          </p>
          <div class="dropdown mr-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" >
              <i class="fas fa-align-justify"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= link_to 'Dashboard', bookings_path, class: "dropdown-item" %>
              <!-- <a class="dropdown-item" href="#">Action</a> -->
            </div>
          </div>
            <%= cl_image_tag current_user.photo.key, crop: :fill, class: "avatar-airpnp" %>
        <% else %>
          <%= link_to 'Sign up', new_user_registration_path, class: "login" %>
          <%= link_to 'Login', new_user_session_path, class: "login" %>
        <% end %>
      </div>
    </nav>
    <!-- <p class="notice"><%= notice %></p>
"alert"><%= alert %></p> -->
    <%= yield %>
  </body>
</html>
